<title>Login</title>

{% extends 'homepage/index.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static '/css/login.css' %}">

<style>
    .con {
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 400;
    }
</style>

<div class="container login-container">
    <div class="d-flex justify-content-center form_container">
        <div class="col-md-6 login-form-1">
            <p class="con">A confirmation mail has been sent to your email {{user.email}}</p>
        </div>
    </div>
</div>

{% endblock %}